<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edycja</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "css.css" %}>
</head>
<body>
<h1>Gmina {{ obwod.gmina.nazwa }}, obwód {{ obwod_nr }}</h1>


<form action="" method="post">
{% csrf_token %}
    {{ formset.management_form }}
    {{ formset.obwod }}

        {% if error %}
            <p class="form-error">{{ error }}</p>
        {% endif %}
    <table>
        {% for form in formset %}
            <tr>
                <td>{{ form.kandydat_str }}</td>
                <td> {{ form.liczba }}</td>
                <td class="form-error">{{ form.liczba.errors }}</td>
                <td>{{ form.kandydat.as_hidden }}</td>
            </tr>
        {% endfor %}
    </table>
<input type="submit" value="Zapisz" />
</form>
</body>
</html>